@import '../../../../styles.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;

  .content {
    border-radius: 0.75rem;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    min-height: 550px;
    overflow-x: hidden;

    .social-media-icon {
      background: #e8f9fd;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 3px;
      width: 98px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .hr-line {
      border-bottom: solid 1px #123753;
      position: relative;
      bottom: 20px;
      flex: 0.4;
    }

    .login-alt-prompt-text {
      h4 {
        color: $primary_color;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

  }
}
